.divider{
    width: 60px;
    height: 3px;
    background-color:$main-color;
    margin: 25px auto 0 auto;
}
.about-me{
    &__grid-container{
        margin-top: 120px;
        display: grid;
        grid-template-areas: 
        "photo myname"
        "photo skills";
        grid-template-columns: 400px 600px;
        grid-template-rows: min(300px) min(300px);
        column-gap: 70px;
        
    }
    &__grid-item{
        &.photo{
            grid-area: photo;
            width: 400px;
            height: 100%;
        }
        &.myname{
            grid-area: myname;
        }
        &.about-me__skills{
            grid-area: skills;
            display: grid;
            grid-template: 1fr 1fr / 1fr 1fr;
            
        }   
    }
    &__subtitle{
        position: relative;
        @include before_circle;
        z-index: 2;
    }
    
    &__text{
        margin-top: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
    }
    &__skills{
        &-img{
            position: absolute;
            left: 15px;
            top: 16px;
        }
        &-item{
            padding-left: 60px;
            position: relative;
            @include before_circle;
            z-index: 2;

        }
        &-descr{
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
        
    }
    .divider{
        margin: 0;
    }
      
}

